.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    /* padding: 0px 100px; */
}

/* Mobile Styles */
@media screen and (min-width: 320px) and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}